<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>

<body>
  <%- include('partials/_header') %>
   <form method="POST" action="/register" class="form-inline">
    <input class="form-control" type="email" name="email" placeholder="email" style="width: 200px; margin: 1em">
    <input class="form-control" type="password" name="password" placeholder="password" style="width: 200px; margin: 1em">
    <button type="submit"  class="btn btn-outline-dark">register</button>
  
  </form>
<p class="mt-3">I already have an account. <a href="/login">login

</a></p>
</body>
</html>